.navbar {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    z-index: 150;

    background-color: #fafafa;

    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 2px 6px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 2px 6px 5px rgba(0,0,0,0);
}

.navbar a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #2bcadf;

}

.navbar a:hover {
    color: #4bae8e;
}

.linkLanding {
    margin-left: 15px;
}

.menu {
    list-style: none;

    display: flex;

}

.menu li {
    margin: 0 15px;
}